---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to TESTBCC.">
    <div class="login-form">
        <h1>Introduce los credenciales</h1>
        <label for="mail">Mail:</label>
        <input type="text" id="username" name="mail" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button id="myButton">Login</button>
    </div>
    
</Layout>

<style>
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

    }
    label {
        margin-bottom: 10px;
    }

    input {
        padding: 5px;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>



<script>
    const button = document.querySelector('button')!;
    button.addEventListener('click', () => validarFormulario());
    function validarFormulario() {
        console.log("Validando formulario");
        var username = (document.getElementById('username') as HTMLInputElement)?.value || "";
        var password = (document.getElementById('password') as HTMLInputElement)?.value || "";
        calcularSHA256(password).then(hash => {
            // Compara el hash con el valor esperado
            if (hash === "03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4") {
                save_login();
                console.log("Contraseña correcta");
                localStorage.setItem('isLoggedIn', 'true');
                window.location.href = "http://127.0.1:80/home";
            } else {
                window.location.href = "http://127.0.1:80/index";
                console.log("Contraseña incorrecta");
            }
        }).catch(error => {
            console.error("Error al calcular el hash:", error);
        });
        
        return true;
    }
    
    import sha256 from 'crypto-js/sha256';

    async function calcularSHA256(texto: string) {
        const hash = sha256(texto);
        return hash.toString();
    }

    async function save_login() {
        try {
            var mail = (document.getElementById('username') as HTMLInputElement)?.value;
            const response = await fetch("http://127.0.0.1:80/login", { //103.23.60.158
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Methods": "POST",
                    "Access-Control-Allow-Headers": "Content-Type"
                },
                body: JSON.stringify({
                    "mail": mail,
                })
            });
            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.log(error);
        }
    }

    const isLoggedIn = localStorage.getItem('isLoggedIn') === 'true';
	if (isLoggedIn) {
		window.location.href = 'http://127.0.0.1:80/home';
	}

</script>