---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to TESTBCC.">
    <form class="login-form" method="post">
        <label for="username">Mail:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</Layout>

<style>
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

    }
    label {
        margin-bottom: 10px;
    }

    input {
        padding: 5px;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>



<script>

    function validarFormulario() {
        var username = (document.getElementById('username') as HTMLInputElement)?.value;
        var password = (document.getElementById('password') as HTMLInputElement)?.value;

        try {
            // Supongo que la función calcularSHA256 devuelve una promesa
            calcularSHA256(password).then(hash => {
                // Compara el hash con el valor esperado
                if (hash === "c6f2bb56844c94dd2065b9425c32cd8246ee6f208937e476970cd3b0324d6365") {
                    save_login();
                    console.log("Contraseña correcta");
                    localStorage.setItem('isLoggedIn', 'true');
                    window.location.href = "/";
                } else {
                    console.log("Contraseña incorrecta");
                    return false;

                }
            }).catch(error => {
                console.error("Error al calcular el hash:", error);
            });
        } catch (error) {
            console.error("Error general:", error);
        }

        return true;
    }

    async function calcularSHA256(texto: string) {
        // Convierte el texto en una serie de bytes
        const buffer = new TextEncoder().encode(texto);

        // Calcula el hash SHA-256
        const hashBuffer = await crypto.subtle.digest('SHA-256', buffer);

        // Convierte el resultado del hash a una cadena hexadecimal
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hashHex = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

        return hashHex;
    }

    var result = calcularSHA256('EnUnLugarDeLaMancha');
    //Await the result
    result.then(function (result) {
        console.log(result);
    });

    addEventListener('submit', validarFormulario, false);

    async function save_login() {
        try {
            var mail = (document.getElementById('username') as HTMLInputElement)?.value;
            const response = await fetch("http://127.0.0.1:80/loged_in", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Methods": "POST",
                    "Access-Control-Allow-Headers": "Content-Type"
                },
                body: JSON.stringify({
                    "mail": mail,
                })
            });
            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.log(error);
        }
    }

</script>